*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CLASES NAVBAR */
.navBar{
  display: flex;
  background-color: rgb(46, 45, 45);
  justify-content: space-between;
  color: white;
  padding: 5px;
  
}

.containerNav{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}


.menu{
  display: flex;
  gap: 10px;
}

.tituloNav{
  margin-top: 5px;
}
/* Clases HEADER */
.header{
  background-image:url(./assets/imgs/Header.jpg);
  background-position: center;
  color: white;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
/* CLASES MAIN */
.cards{
  text-align: center;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  margin-top: 1rem;
}

main{
  background-color: rgb(247, 245, 243);
  margin-bottom: 1rem;
}

.containerButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* FOOTER */
footer{
  background-color: rgb(46, 45, 45);
  color: white;
  text-align: center;
}

/* FORMULARIOS */

.formulario{
  width: 50%;
  text-align: center;
  margin-left: 25%;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error{
  padding: 10px;
color: white;
background-color: red;
text-align: center;
font-weight: bold;
border-radius: 10px;

}